html, body{
    height:100%;
    width:100%;
    margin:0;
    position: relative;
    overflow:hidden;
}

img{
    width:100%;
}

.wrapper{
    width:100%;
    max-width:1626px;
    max-height:100vh;
    position: absolute;
    top:0;
    left:0;
    overflow:hidden;
}

.divBackground{
    width:100%;
    
    max-height:100vh;
}

.divBackground>img{
    width:100%;
    max-height:100vh;
}

/* Nuages */

.divNuages{
    width:100%;
    height:35%;
    position:absolute;
    top:0;
    left:0;
}

.nuage_01{
    width:9%;
    position:absolute;
    top:50%;
    left:100%;
    animation:nuage linear 30s infinite 3s;
    transform:translateY(-50%);
}

.nuage_02{
    width:9%;
    position: absolute;
    top:75%;
    left:100%;
    animation:nuage linear 20s infinite 18s;
    transform:translateY(-50%);
}

.nuage_03{
    width:14%;
    position:absolute;
    left:100%;
    top:25%;
    animation:nuage linear 40s infinite 10s;
    transform:translateY(-50%);
}

@keyframes nuage{
    to{left:-20%}
}

/*Blocks*/

.divBlocs{
    width:15%;
    height:25%;
    position:absolute;
    top:40%;
    left:10%;
}

.etage2{
    display:flex;
}

.etage1{
    display:flex;
    justify-content:center;
    margin-bottom:50%;
}

.divBlocs img{
    width:20%;
}

/*Coins*/

.divCoins{
    display:flex;
    justify-content:space-between;
    width:13%;
    position:absolute;
    top:75%;
    left:30%;
}

.divCoins img{
    width:19%;
    transform:translateY(0);
    opacity: 1;
    transition: transform 0.1s linear;
}

.divCoins img:hover{
    transform:translateY(-25%);
}

.animationCoin{
    animation:animationCoin 0.3s linear forwards;
}

@keyframes animationCoin{
    to{
        transform:translateY(-50%) rotateY(360deg);
        opacity: 0;
    }
}

/*Video*/

.divVideo{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-40%,-70%);
    width:45%;
}

.video{
    width:100%;
    box-shadow: 10px 10px 5px black;
}

/*Barre de Progression*/

.divBarreProgression{
    height:3%;
    width:100%;
    position:absolute;
    bottom:3%;
    padding:0 5%;
    box-sizing: border-box;
    z-index: 2;
}

.barreProgression{
    background-color: antiquewhite;
    height:100%;
}

.progression{
    background-color: cornflowerblue;
    width:1%;
    height:100%;
}

/*Tuyau*/

.divTuyau{
    position:absolute;
    top:69.4%;
    left:60%;
    width:6%;
}

.tuyau{
    transform-origin:50% 100%;
    transform: scaleY(1);
    transition: transform 0.2s ease-in;
}

.transitionTuyau{
    transform:scaleY(0.9);
}

/* Poteau */

.divPoteau{
    width:4%;
    position:absolute;
    top:42%;
    left:85%;
}

/*Drapeau*/

.divDrapeaux{
    width:6%;
    position:absolute;
    top:46%;
    left:87.2%;
}

.divDrapeaux img{
    position:absolute;
}

/*Star*/

.divStar{
    width:3%;
    position:absolute;
    top:75%;
    left:61.7%;
}

.animationStar{
    animation: animationStar 5s linear;
}

@keyframes animationStar{
    0%{
        top:75%;
        left:61.7%;
    }
    8%{
        top:64.3%;
        left:61.7%;
    }
    15%{
        top:55%;
        left:58%;
        animation-timing-function: ease-in;
    }
    30%{
        top:83.7%;
        animation-timing-function: ease-out;
    }
    45%{
        top:65%;
        animation-timing-function: ease-in;
    }
    60%{
        top:83.7%;
        animation-timing-function: ease-out;
    }
    75%{
        top:65%;
        animation-timing-function: ease-in;
    }
    90%{
        top:83.7%;
        animation-timing-function: ease-out;
    }
    100%{
        top:65%;
        left:-5%;
        animation-timing-function: ease-in;
    }
}
