html, body{
    height:100%;
    width:100%;
    margin:0;
    position: relative;
    overflow:hidden;
}

img{
    width:100%;
}

.wrapper{
    width:100%;
    max-width:1626px;
    max-height:100vh;
    position: absolute;
    top:0;
    left:0;
    overflow:hidden;
}

.divBackground{
    width:100%;
    
    max-height:100vh;
}

.divBackground>img{
    width:100%;
    max-height:100vh;
}

/* Nuages */

.divNuages{
    width:100%;
    height:15%;
    position:absolute;
    top:0;
    left:0;
}

.nuage_01{
    width:9%;
    position:absolute;
    top:75%;
    left:15%;
    transform:translate(-50%,-50%);
    transform-origin:100% 0%;
    animation:nuage01 linear 30s infinite;
}

@keyframes nuage{
    0%{transform:translateX(-300%);}
    100%{transform:translateX(100vw)}
}

.nuage_02{
    width:9%;
    position: absolute;
    top:100%;
    left:-9%;
    transform:translate(-50%,-50%);
    transform-origin:100% 0%;
    animation:nuage02 linear 20s infinite ;
}

@keyframes nuage{
    to{left:109%}
}

.nuage_03{
    width:14%;
    position:absolute;
    right:100%;
    top:50%;
    transform:translate(-50%,-50%);
    transform-origin:100% 0%;
    animation:nuage linear 40s infinite 3s;
}

@keyframes nuage03{
    0%{transform:translateX(0vw);}
    100%{transform:translateX(100vw)}
}

/*Blocks*/

.divBlocs{
    width:15%;
    height:25%;
    position:absolute;
    top:40%;
    left:10%;
}

.etage2{
    display:flex;
}

.etage1{
    display:flex;
    justify-content:center;
    margin-bottom:50%;
}

.divBlocs img{
    width:20%;
}

/*Coins*/

.divCoins{
    display:flex;
    justify-content:space-between;
    width:13%;
    position:absolute;
    top:75%;
    left:30%;
}

.divCoins img{
    width:19%;
}

/*Video*/

.divVideo{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-40%,-70%);
    width:45%;
}

.video{
    width:100%;
}

/*Tuyau*/

.divTuyau{
    position:absolute;
    top:69.4%;
    left:60%;
    width:6%;
}

/* Poteau */

.divPoteau{
    width:4%;
    position:absolute;
    top:42%;
    left:85%;
}

/*Drapeau*/

.divDrapeaux{
    width:6%;
    position:absolute;
    top:46%;
    left:87.2%;
}

.divDrapeaux img{
    position:absolute;
}

/*Star*/

.divStar{
    width:3%;
    position:absolute;
    top:0%;
}